@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div class="img">
       Tu jakiś poster
   </div>
    <div>
        Tutaj jakas lista produktów 
    </div>
</div>
<footer>
    Kontakt jakieś informacje i linki
</footer>
